

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
}
.button1 {
    padding: 12px 16px;
    margin-right: 5%;
    border-style: none;
    font-size:25px;
    color: #6A3C6A;;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}
.button1:hover {
    background-color:#6A3C6A;
    color:white;

}
.logo {
    display: flex;
    justify-content: flex-start;
   width: 10%;
}
.logopic {
    max-width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.divbuttons {
   display: flex;
   justify-content:flex-end;
}
.skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1%;
    font-size:40px;
    color:#6A3C6A;
}
.skill1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.userResearch {
  width: 40%;
  margin-left: 5%;
}
.userResearch:hover {
    transform: scale(1.2); 
    transition: 0.5s;
}
.skillh2 {
    display: inline-block;
    margin: 2;
    padding: 10%;
}
.researchh2 {
    font-size: 45px;
    color:#6A3C6A;
}
.researchIntro {
    font-size: 25px;
}
.skill2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}
.skill2h2 {
    display: inline-block;
    margin: 2;
    padding: 10%;
}
.infoArchh2 {
    font-size: 40px;
    color:#6A3C6A;
}
.informationArch {
  width: 40%;
  margin-right: 5%;
}
.informationArch:hover {
    transform: scale(1.2); 
    transition: 0.5s;
}
.infoArchIntro {
    font-size:25px;
}
.skill3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Wireframing {
  width: 40%;
  margin-left: 5%;
}
.Wireframing:hover {
    transform: scale(1.2); 
    transition: 0.5s;
}
.skill3h2 {
    display: inline-block;
    margin: 2;
    padding: 10%;
}
.wireframingh2 {
    font-size: 40px;
    color:#6A3C6A;
}
.wireframeIntro {
    font-size: 25px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    align-items: flex-end;
}
.button2 {
    padding: 12px 16px;
    margin-right: 5%;
    border-style: none;
    font-size:25px;
    color: #6A3C6A;;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}
.button2:hover {
background-color:#6A3C6A;
color:white;
}
.footerbuttons {
    display: flex;
    justify-content: center;
    margin: 3%;
}